version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: social_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: project_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d project_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: api-abraceumrn
    environment:
      DATABASE_URL: postgresql://user:password@db/project_db
    depends_on:
      db:
        condition: service_healthy

  web: 
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: web-abraceumrn

    restart: always

  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    container_name: main-nginx-proxy
    ports:
      - "80:80"
    restart: always
    depends_on:
      - api
      - web

volumes:
  postgres_data: